port ${SENTINEL_PORT}
sentinel monitor sentinel${SENTINEL_PORT} 127.0.0.1 ${PORT} 2
sentinel down-after-milliseconds sentinel${SENTINEL_PORT} 5000
sentinel failover-timeout sentinel${SENTINEL_PORT} 60000
sentinel parallel-syncs sentinel${SENTINEL_PORT} 1
